.sidenav {
  height: 60%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10%;
  margin-left: 80%;
  margin-top: 10%;
  background-color: #818181;
  color: black;
  overflow-x: hidden;
  transition: 0.5s;
}
.interview-menu a {
  color: black;
}
#menu {
  top: 20;
  left: 0;
  z-index: 1;
}
.openav {
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #8a2a21;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.blog {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}

.newspapers {
  /* background-color: rgb(161, 228, 161); */
  padding: 0 5%;
  margin-top: 5rem;
}
.newspapers h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #8a2a21;
  text-align: left;
}

.newspapers p {
  text-align: left;
  color: rgb(99, 98, 98);
}

.interviewImage {
  /* float: right;
  border-radius: 100%; */
  width: 100%;
  height: 30rem;
}
.myButton {
  visibility: hidden;
}
@media only screen and (max-width: 900px) {
  .sidenav {
    visibility: hidden;
  }
  .sidenav a {
    font-size: 18px;
  }
  .newspapers {
    /* background-color: rgb(161, 228, 161); */
    padding: 3% 0%;
    margin-top: 5rem;
    margin-left: 25%;
    text-align: center;
  }
  .myButton {
    visibility: visible;
  }
}
